name: TP 2 package JAR

on:
  workflow_dispatch:
  push:
    branches:
      - main

env:
  PROJECT_VERSION: "1.0.0"

jobs:
  Build:
    name: Build
    runs-on: ubuntu-latest
    steps:

    - uses: actions/checkout@main
    - name: Setup Java
      uses: actions/setup-java@v5.0.0
      with:
        java_version: 17
        distribution: zulu
      
    - name: Construire Package
      run: mvn clean package -DskipTests
